$main-color: #e23e57;
$second-color: #88304e;
$navbar-first-color: #2d132c;
$navbar-second-color: #240041;

$text-main-color: #362760;
$text-second-color: #aeaeae;

$soft-white: #edf0f1;

@import 'bootstrap/scss/bootstrap';

*, *::before, *::after {
  font-family: Source Sans Pro,sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html, body {
  height: 100%;
}
body {
  background-color: white;
}

section {
  padding-top: 1rem;
}

h1, h2 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
  color: $text-main-color;
}
h2 {
  font-size: 1.2rem;
  color: $text-second-color;
}

a {
  text-decoration: none;
}

.card, .breadcrumb, .modal-content {
  background-color: $second-color !important;
}

.navbar {
  background: linear-gradient(
    to right,
    $navbar-first-color,
    $navbar-second-color
  );
}

.card {
  color: $soft-white;
  width: 10rem;
  height: auto;
  background-clip: border-box;
  margin-bottom: 0.5rem;
  transition: 0.4s;
}

.card:hover {
  background-color: $main-color !important;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
}

.btn-outline-custom {
  color: $soft-white;
  background-color: transparent;
  background-image: none;
  border-color: $second-color;
}

.btn-outline-custom:hover {
  color: white;
  background-color: $main-color;
}

.hoverscale {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.hoverscale:hover {
  -webkit-transform: scale(1.05);
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,.3);
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0,0,0,.3);
}